:root {
    --recomendados-color: #c7b198;
    --bg-color: #f0ece2;
    --text-color: #596e79;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding: 14px;
    font-family: 'Exo 2', 'sans serif';
    color: var(--text-color);
    background-color: var(--bg-color);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.imagen-banner {
    width: 100%;
    height: auto;
    display: block;
}

.container-recomendados {
    display: flex;
    gap: 10px;
    width: 100%;
    overflow: scroll;
    overflow-y: hidden;
    background-color: var(--recomendados-color);
    padding: 8px;
}

.cartas-destinos {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.carta-detalle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carta-detalle .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.carta-detalle .imageContainer img {
    width: 100%;
    border: 2px solid var(--text-color);
}

.cartas-destinos img {
    border-radius: 5%;
    border: 2px solid var(--text-color);
}

.hidden {
    display: none;
}

select {
    width: 100%;
}
.button {
    top:50%;
    background-color: var(--bg-color);
    color: var(--text-color);
    border:none;
    border-radius:10px;
    width: 50%;
    align-self: center;
}

@media (max-width: 480px) {
    .cartas-destinos {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 14px;
    }

    .imageContainer {
        border-radius: 50%;
        max-width: 100px;
        overflow: hidden;
        border: 2px solid var(--text-color);
    }
    
    .imageContainer img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    .container-recomendados {
        display: flex;
        flex-direction: column;
    }

    .cartas-destinos p {
        display: none;
    }

}